/* FONT IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
/* VARIABLES */
:root {
  /* COLORS Cyan*/
  --color-cyan-600: hsl(192, 37%, 48%);
  --color-cyan-300: hsl(192, 90%, 77%);
  /* COLORS Purple */
  --color-purple-600: hsl(268, 34%, 53%);
  --color-purple-300: hsl(268, 100%, 86%);
  /* COLORS Slate */
  --color-slate-900: hsl(240, 21%, 20%);
  --color-slate-600: hsl(240, 10%, 57%);
  --color-slate-300: hsl(240, 18%, 85%);
  /* COLORS White */
  --color-white: hsl(0, 0%, 100%);

  /* FONT FAMILY */
  --font-primary: "Red Hat Display", sans-serif;

  /* SPACING */
  --spacing-1400: 7rem;
  --spacing-1000: 5rem;
  --spacing-900: 4rem;
  --spacing-800: 3rem;
  --spacing-700: 2rem;
  --spacing-600: 1.5rem;
  --spacing-500: 1rem;
  --spacing-400: 0.75rem;
  --spacing-300: 0.5rem;
  --spacing-200: 0.25rem;
  --spacing-100: 0.125rem;
  --spacing-50: 0.0625rem;
}
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

/* GLOBAL STYLES */
body {
  font-family: var(--font-primary);
  color: var(--color-slate-900);
  background-color: var(--color-white);
  min-height: 100vh;
  overflow-x: hidden;
}

/* TYPOGRAPHY */
p {
  font-size: 1rem;
  color: var(--color-slate-600);
  font-weight: 500;
  line-height: 150%;
}
.group-chat {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 110%;
  text-align: center;
}

.content-title {
  color: var(--color-cyan-600);
  font-size: 0.75rem;
  font-weight: 900;
  line-height: 110%;
  text-align: center;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

.section-maker {
  color: var(--color-slate-600);
  font-weight: 900;
  line-height: 150%;
  font-size: 1rem;
}

.content-h2,
.experience-title {
  font-size: 2rem;
  font-weight: 900;
  line-height: 110%;
  text-align: center;
}
.experience-title {
  color: var(--color-white);
}

/* LAYOUT */
header {
  display: flex;
  justify-content: center;
  padding-top: var(--spacing-800);
}

.hero-image-left,
.hero-image-right {
  display: none;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-700);
  padding-inline: var(--spacing-500);
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-800);
  margin-top: var(--spacing-800);
  padding-inline: var(--spacing-500);
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-500);
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-800);
  margin-top: var(--spacing-800);
  padding-inline: var(--spacing-600);
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-800);
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-500);
  margin-top: var(--spacing-900);
}

.image-grid img {
  border-radius: var(--spacing-300);
}

.content-text {
  margin-top: var(--spacing-900);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-500);
  text-align: center;
}
/* COMPONENTS */

/* MEDIA QUERIES */
